/vendor
/node_modules

/public/storage

/storage/*.key

.env
.env.backup
.env.local
.env.production

Homestead.json
Homestead.yaml

/.phpunit.result.cache

npm-debug.log
yarn-error.log

/.idea
/.vscode

.DS_Store
Thumbs.db